@model BookManager.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @*  <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <input asp-for="BookId" class="form-control" />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wri_IN" class="control-label"></label>
                <input asp-for="Wri_IN" class="form-control" />
                <span asp-validation-for="Wri_IN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bcost" class="control-label"></label>
                <input asp-for="Bcost" class="form-control" />
                <span asp-validation-for="Bcost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wcost" class="control-label"></label>
                <input asp-for="Wcost" class="form-control" />
                <span asp-validation-for="Wcost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sold" class="control-label"></label>
                <input asp-for="Sold" class="form-control" />
                <span asp-validation-for="Sold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <input asp-for="AuthorId" class="form-control" />
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
